In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
#index levels

outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [13]:
df

             A         B
G1 1 -1.175282  1.440938
   2 -1.275685  1.145473
   3  1.096647  1.976929
G2 1  1.594150 -0.991239
   2  0.277914 -1.415774
   3  0.316496  1.780390

In [14]:
df.loc['G1']

          A         B
1 -1.175282  1.440938
2 -1.275685  1.145473
3  1.096647  1.976929

In [16]:
df.loc['G1'].loc[1]

A   -1.175282
B    1.440938
Name: 1, dtype: float64

In [18]:
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1   -1.175282  1.440938
       2   -1.275685  1.145473
       3    1.096647  1.976929
G2     1    1.594150 -0.991239
       2    0.277914 -1.415774
       3    0.316496  1.780390

In [20]:
df.loc['G2'].loc[2]['B']

-1.4157736447950966

In [21]:
df.loc['G1'].loc[3]['A']

1.0966472503628659

In [22]:
df.xs('G1')

            A         B
Num
1   -1.175282  1.440938
2   -1.275685  1.145473
3    1.096647  1.976929

In [25]:
df.xs(1, level='Num')

               A         B
Groups
G1     -1.175282  1.440938
G2      1.594150 -0.991239