In [2]:
# comment

10

10

In [3]:
2 * 3

6

In [4]:
90 ** 2

8100

In [6]:
64 % 2

0

In [7]:
name_of_var = 2

In [8]:
x = 1

In [9]:
y = 2

In [10]:
x + y

3

In [11]:
'single'

'single'

In [14]:
'triple'

'triple'

In [13]:
'double'

'double'

In [15]:
print x

1

In [16]:
print('double')

double

In [17]:
name = "Wright"

In [18]:
print ("Hello my name is {}".format(name))

Hello my name is Wright

In [19]:
number = 12

In [20]:
print ("Hi my name is {} and my number is {}".format(name, number))

Hi my name is Wright and my number is 12

In [22]:
print ("{y}, {x}".format(x=name, y=number))

12, Wright

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
my_list = [1,2,3]

In [25]:
my_list.append('12')

In [26]:
my_list

[1, 2, 3, '12']

In [27]:
my_list[0:2]

[1, 2]

In [28]:
nested = [1,2, [4,5]]

In [29]:
nested

[1, 2, [4, 5]]

In [30]:
d = {'key': 10, 'hey2': 23}

In [31]:
d

{'hey2': 23, 'key': 10}

In [32]:
True

True

In [33]:
true

NameError: name 'true' is not defined

In [34]:
False

False

In [35]:
{1,2,3}

{1, 2, 3}

In [36]:
{1,1,1,2,2,3,3}

{1, 2, 3}

In [37]:
set([1,22,2,2,2,2,3,33,3,3])

{1, 2, 3, 22, 33}

In [38]:
import math

In [39]:
1 > 2

False