In [1]:
import numpy as np

In [2]:
import pandas as pd

In [10]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [5]:
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [14]:
pd.Series([sum, print, len])

SyntaxError: invalid syntax (<ipython-input-14-a8a2b409e2e4>, line 1)

In [15]:
ser1 = pd.Series([1,2,3,4], ['USA', 'CHINA', 'FRANCE', 'Germany'])

In [16]:
ser1

USA        1
CHINA      2
FRANCE     3
Germany    4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,3,4], ['USA', 'CHINA', 'FRANCE', 'Japan'])

In [18]:
ser2

USA       1
CHINA     2
FRANCE    3
Japan     4
dtype: int64

In [20]:
ser2['Japan']

4

In [21]:
ser1 + ser2

CHINA      4.0
FRANCE     6.0
Germany    NaN
Japan      NaN
USA        2.0
dtype: float64